

<template name="invt">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{>utama}}
    <body>
        <style>
            .jumbotronAnggota{
                width: 100%;
                height: 450px;
                background-size: cover;
                background-attachment: fixed;
                background-image: url('/images/bggroup.jpg');
                background-repeat: no-repeat;
                border-bottom:4px solid #42a5f5;
            }
            .invt{
                min-height: 500px;
                overflow: hidden;
            }
        </style>
    </body>

    <div class="jumbotronAnggota valign-wrapper"></div>
    <div class="container-fluid app">
       <div class="row">
           <div class="col s12">
               <h5>Invite To Join Your Group</h5>
               <a class="waves-effect waves-light btn-small blue lighten-2" href="anggota">Back</a>
           </div>
       </div>
       <section class="invt">
           <div class="row">
               <div class="col s12">
                   <div class="row">
                        <div class="input-field col s6">
                           <label for="namaANGGOTA">Nama Anggota</label>
                           <br>
                           <input type="text" id="namnaANGGOTA" class="validate" name="namaANGGOTA">
                        </div>
                        <div class="input-field col s6">
                            <select class="form-control" name="jabatanANGGOTA">
                                <option value="" disabled selected>pilih jabatan</option>
                                <option value="Anggota">Anggtoa</option>
                                <option value="Programmer">Programmer</option>
                        </select>
                        </div>
                    </div>
                    <div class='form-group label-floating has-info col-md-6'>
                        <div class="input-field col s12">
                            <label for="notlepANGGOTA">No-Telpon</label>
                            <br>
                            <input id="notlepANGGOTA" type="text" class="validate" name="notlepANGGOTA">
                        </div>
                    </div>
                    <div class='form-group label-floating has-info col-md-6'>
                        <div class="input-field col s12">
                            <label for="alamatANGGOTA">Alamat</label>
                            <br>
                            <input id="alamatANGGOTA" type="text" class="validate" name="alamatANGGOTA">
                        </div>
                    </div>
                </div>
                <a class="save waves-effect waves-light btn-large light-green right">Save</a>
            </div>
        </section> 
    </div>
</template>